*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::before{
    /* o body::before só aparece se utilizar a propriedade "content" */
    content: '';
    width: 100%;
    height: 436px;
    
    background: #535971;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

body{
    background: #efefef;
    display: flex;

}

.page{
    min-width: 750px;
    margin: 0 auto;
}

header{
    margin-top: 140px;
    margin-left: 345px;
}

h1{
    color:#fff;
    
    width: 163px;
    height: 60px;

    font-family: "Staatliches";
    font-size: 48px;
    line-height: 60px;

    margin-bottom: 18px;
}

p{
    width: 417px;
    height: 46px;

    color: #FFF;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    margin-bottom: 58px;
}


form{
    background: #fff;

    min-height: 300px;
    
    display: flex;
    flex-direction: column;

    margin-bottom: 0;
    margin-left: 345px;
    margin-right: 345px;
    padding: 64px;

    border-radius: 20px 20px 0 0;
}

fieldset{
    border: none;
    
}

fieldset legend{
    font-family: "Staatliches";
    font-size: 24px;
    line-height: 34px;
    color: #535971;
    
    margin-bottom: 16px;
    width: 622px;
}

.linha{
    border: 1px solid #E6E6F0;
    margin-bottom: 32px;
}

fieldset label{
    font-family: "Poppins";
    font-size: 14px;
    line-height: 24px;

}

fieldset label span{
    font-family: "Poppins";
    font-size: 12px;
    line-height: 20px;
    color: #c1bccc;
}

.fieldset-wrapper{
    display: flex;
    flex-direction: column;
}

.fieldset-wrapper h2{
    margin-bottom: 12px;

    font-family: Staatliches;
    font-size: 20px;
    line-height: 34px;
    color: #535971;
    font-weight: normal;

}

.input-wrapper{
    display: flex;
    flex-direction: column;
    
}
.input-wrapper label{
    margin-bottom: 8px;
}

.input-wrapper input{
    border: 1px solid #E6E6F0;
    background: #FAFAFC;
    border-radius: 8px;
    margin-bottom: 19px; 
    height: 56px;
    padding-left: 6px;
}

.col-2{
    display: flex;
    gap: 22px;
}

.input-wrapper #info-nome, .input-wrapper #info-sobrenome, 
.input-wrapper #first-date, .input-wrapper #second-date{
    width: 300px;
    
}

.input-wrapper #first-time, .input-wrapper #first-time2,
.input-wrapper #second-time, .input-wrapper #second-time2{
    width: 140px;
    gap: 10px;
}

.col-3, .col-4{
    display: flex;
    gap: 32px;

}

.col-4 .input-wrapper input{
    margin-bottom: 0;
}

.time-1{
    display: flex;
    gap: 10px;
}


footer{
    height: 160px;

    border-radius: 0 0 20px 20px;
    background: #535971;

    margin-bottom: 366px;
    margin-left: 345px;
    margin-right: 345px;
    
    display: flex;
    flex-direction: column;
    
}

footer .button{
    background: #FF5374;
    
    height: 55px;
    
    border-radius: 20px;
    border: none;
    
    margin: 52px 71px;
    padding: 15px 40px;

    color: #fff;
    font-family: "Staatliches";
    font-size: 20px;
    line-height: 26px;
    
}

footer .button:hover{
    background: #ca435e;
}